<div *ngIf="Stocklist.length !== 0">
<div>
  <label>Stock name: </label>
  <select  [(ngModel)]="selected" (ngModelChange)="selectedChanged()" (change)=" loadStocks()" id="SelectedVariable" >
    <option value="0">--All--</option>
    <option *ngFor="let stock of Stocklist" value={{stock.symbol}}>
      {{stock.symbol}}
    </option>
  </select>
</div>
 <br>

<button class="btn btn-outline-primary" (change)="putPrice()"(click)="getStockPrice()"  >Get price</button>
<p id="price">
{{this.price}}
</p>
 <br>
 <br>
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Symbol</th>
			<th scope="col">Name</th>
			<th scope="col">Country</th>
            <th scope="col">Industry</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocklist">
			<td>{{stock.symbol}}</td>
			<td>{{stock.name}}</td>
			<td>{{stock.country}}</td>
            <td>{{stock.industry}}</td>
			<td>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>

