
&nbsp;<button class="btn btn-outline-primary" routerLink="/create-stock">Add Stock</button>
&nbsp;<button class="btn btn-outline-primary" routerLink="/stock-list">List Stocks</button>
&nbsp;<button class="btn btn-outline-primary" routerLink="/getallstocks">List all Stocks</button>

<!-- Use this in the AppComponent template -->
<div class="container">
  <h2>Stock API</h2>
  <router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
